@import '@angular/material/prebuilt-themes/indigo-pink.css';

// Global styles
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background: linear-gradient(to bottom, #f5f7fa, #e0e7ff);
  min-height: 100vh;
}

.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #d32f2f;
  color: white;
}